<!-- opbouwen formulier -->
<form
    action="./lib/login_check.php"
    method="POST"
    id="loginform"
    name="loginform"
    class="login"
>
    <!--meta info -->
    <input type="hidden" id="csrf" name="csrf" value="@@csrf@@" />
    <input type="hidden" name="table" value="user" />
    <input type="hidden" name="pkey" value="usr_id" />
    <input type="hidden" name="email" value="usr_email" />
    <!-- login veld -->
    <div class="form-row">
        <label for="usr_email">login</label>
        <input
            type="text"
            name="usr_email"
            id="usr_email"
            autocomplete="off"
            placeholder="admin@admin.be"
            value="@@usr_email@@"
        />
        <p class="error">@@err_usr_email@@</p>

    </div>
    <!-- wachtwoord veld -->
    <div class="form-row">
        <label for="usr_password">wachtwoord</label>
        <input
            type="password"
            name="usr_password"
            id="usr_password"
            value="@@usr_password@@"
            placeholder="admin"
        />
        <p class="error">@@err_usr_password@@</p>
        </div>
    </div>
    <!-- login button -->
    <div class="form-row">
        <button name="login">login</button>
    </div>
</form>
