<nav>
    <div class="site-links">
        <ul class="nav-links">
            <li class="nav-item active">
                <a class="nav-link" href="./">home</a>
            </li>
            <li class="nav-item">
                <a href="./?steden" class="nav-link">steden</a>
            </li>
            <li class="nav-item">
                <a href="./?people" class="nav-link">bekende mensen</a>
            </li>
        </ul>
        <form class="search" action="." method="GET">
            <input
                class="form-control mr-sm-2"
                type="text"
                placeholder="Search"
                name="search"
            />
            <button>Search</button>
        </form>
    </div>
    <ul class="nav-links">
        <li class="nav-item">
            <a class="nav-link" href="./?register">register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="./?login">login</a>
        </li>
    </ul>
</nav>
