<nav>
    <div class="site-links">
        <ul class="nav-links">
            <li class="nav-item active">
                <a class="nav-link" href="index.php">home</a>
            </li>
            <li class="nav-item">
                <a href="./steden.php" class="nav-link">cities</a>
            </li>
            <li class="nav-item">
                <a href="./people.php" class="nav-link">people</a>
            </li>
        </ul>
        <form class="search" action="." method="GET">
            <input
                class="form-control mr-sm-2"
                type="text"
                placeholder="Search"
                name="search"
            />
            <button>Search</button>
        </form>
    </div>
    <ul class="nav-links">
        <li class="nav-item">
            <a class="nav-link" href="./register.php">register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="./login.php">login</a>
        </li>
    </ul>
</nav>
