<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Steden & Mensen</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="@@root@@/css/style.css" />
        <script defer src="@@root@@/js/index.js"></script>
        <meta id="root" @@root@@ />
    </head>
    <header>@@jumbo@@ @@navbar@@</header>
    <main>
        @@info@@ @@error@@
        <div class="container">@@content@@</div>
    </main>
</html>
