<!-- opbouwen formulier -->
<form action="./lib/save.php" method="POST" id="mainform" name="mainform">
    <!--meta info -->
    <input type="hidden" id="csrf" name="csrf" value="@csrf@">
    <input type="hidden" id="table_select" name="table_select" value="land">
    <input type="hidden" id="table" name="table" value="images">
    <input type="hidden" id="aftersql" name="aftersql" value="steden2.php">
    <!-- id veld -->
    <div class="form-group row">
        <label for="img_id" class="col-sm-2 col-form-label">id</label>
        <div class="col-sm-3">
            <input type="text" readonly="readonly" name="img_id" id="img_id" class="form-control" value=@img_id@>
        </div>
    </div>
    <!-- title veld -->
    <div class="form-group row">
        <label for="img_title" class="col-sm-2 col-form-label">title</label>
        <div class="col-sm-3">
            <input type="text" name="img_title" id="img_title" class="form-control" value="@img_title@">
        </div>
    </div>
    <!-- filename veld -->
    <div class="form-group row">
        <label for="img_filename" class="col-sm-2 col-form-label">filename</label>
        <div class="col-sm-3">
            <input type="text" name="img_filename" id="img_filename" class="form-control" value="@img_filename@">
        </div>
    </div>
    <!-- width veld -->
    <div class="form-group row">
        <label for="img_width" class="col-sm-2 col-form-label">width</label>
        <div class="col-sm-3">
            <input type="text" name="img_width" id="img_width" class="form-control" value="@img_width@">
        </div>
    </div>
    <!-- height veld -->
    <div class="form-group row">
        <label for="img_height" class="col-sm-2 col-form-label">height</label>
        <div class="col-sm-3">
            <input type="text" name="img_height" id="img_height" class="form-control" value="@img_height@">
        </div>
    </div>
    <!-- land select veld -->
    <div class="form-group row">
        <label for="land_select" class="col-sm-2 col-form-label">land</label>
        <div class="col-sm-3">
            <select name="img_lan_id" id="land_select" class="form-control">
                @makeselect@
            </select>
        </div>
    </div>
    <!-- img -->
    <div class="form-group-row">
        <div class="imgholder">
            <img src="../images/@img_filename@" alt="">
        </div>
    </div>
    <!-- submit button -->
    <div class="form-group-row">
        <input type="submit">
    </div>
</form>